{% extends "base.html" %}
   {% block title %}News Catcher {% endblock %}

   {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">


    <h1 > Nation Media Group </h1>

      {% for article in nationarticles %}
         <ul>
       <li class="nationmedia">

         <a href="{{ article.link }}">
           {{ article.title }}
         </a>
       </li>
       <p class="date">
         Published {{ article.published }} by  <img
                  src="{{ article.image }}"
                  class="img-fluid ml-3 my-3"
                  alt="{{ article.media_house }}"
                /> {{ article.media_house }} on {{ article.publish | date:"D d M "  }}
       </p>


         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



<h1> Standard Media Group </h1>



      {% for article in standardarticles %}
         <ul>
       <li>
         <a href="{{ article.link }}">
           {{ article.title }}
         </a>
       </li>
       <p class="date">
         Published {{ article.published }} by <img
                  src="{{ article.image }}"
                  class="img-fluid ml-3 my-3"
                  alt="{{ article.media_house }}"
                />  {{ article.media_house }} on {{ article.publish| date:"D d M "  }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



    <h1> Star Newspaper </h1>



      {% for article in stararticles %}
         <ul>
       <ul>
         <a href="{{ article.link }}">
           {{ article.title }}
         </a>
       </ul>
       <p class="date">
         Published {{ article.published }} by <img
                  src="{{ article.image }}"
                  class="img-fluid ml-3 my-3"
                  alt="{{ article.media_house }}"
                />  {{ article.media_house }} on {{ article.publish | date:"D d M "  }}
       </p>
         </ul>
     {% endfor %}

</div>

  </div>
</div>

{#This marks the end and start of second div #}
       <hr>

       <div class="container">
  <div class="row">
    <div class="col-sm">

           <h1> MSNBC TOP STORIES </h1>
      {% for msnbc in msnbcnews %}
         <ul>
       <li>
         <a href="{{ msnbc.link }}">
           {{ msnbc.title }}
         </a>
       </li>
       <p class="date">
         Published {{ msnbc.published }} by {{ msnbc.media_house_name }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



<h1> NPR </h1>



      {% for npr in nprnews %}
         <ul>
       <li>
         <a href="{{ npr.link }}">
           {{ npr.title }}
         </a>
       </li>
       <p class="date">
         Published {{ npr.published }} by {{ npr.media_house_name }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



    <h1> Fox News </h1>



      {% for fox in foxnews %}
         <ul>
       <ul>
         <a href="{{ fox.link }}">
           {{ fox.title }}
         </a>
       </ul>
       <p class="date">
         Published {{ fox.published }} by {{ fox.media_house_name }}
       </p>
         </ul>
     {% endfor %}


    </div>
      </div>
       </div>

         <hr>

       <div class="container">
  <div class="row">
    <div class="col-sm">

           <h1> CNBC NEWS </h1>
      {% for cnbc in cnbcnews %}
         <ul>
       <li>
         <a href="{{ cnbc.link }}">
           {{ cnbc.title }}
         </a>
       </li>
       <p class="date">
         Published {{ cnbc.published }} by {{ cnbc.media_house_name }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



<h1> CNN </h1>



      {% for cnn in cnnnews %}
         <ul>
       <li>
         <a href="{{ cnn.link }}">
           {{ cnn.title }}
         </a>
       </li>
       <p class="date">
         Published {{ cnn.published }} by {{ cnn.media_house_name }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



    <h1> Fox News </h1>



      {% for fox in foxnews %}
         <ul>
       <ul>
         <a href="{{ fox.link }}">
           {{ fox.title }}
         </a>
       </ul>
       <p class="date">
         Published {{ fox.published }} by {{ fox.media_house_name }}
       </p>
         </ul>
     {% endfor %}


    </div>
      </div>
       </div>

         <hr>

       <div class="container">
  <div class="row">
    <div class="col-sm">

           <h1> CNBC NEWS </h1>
      {% for cnbc in cnbcnews %}
         <ul>
       <li>
         <a href="{{ cnbc.link }}">
           {{ cnbc.title }}
         </a>
       </li>
       <p class="date">
         Published {{ cnbc.published }} by {{ cnbc.media_house_name }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



<h1> CNN </h1>



      {% for cnn in cnnnews %}
         <ul>
       <li>
         <a href="{{ cnn.link }}">
           {{ cnn.title }}
         </a>
       </li>
       <p class="date">
         Published {{ cnn.published }} by {{ cnn.media_house_name }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



    <h1> Fox News </h1>



      {% for fox in foxnews %}
         <ul>
       <ul>
         <a href="{{ fox.link }}">
           {{ fox.title }}
         </a>
       </ul>
       <ul class="date">
         Published {{ fox.published }} by {{ fox.media_house_name }}
       </ul>
         </ul>
     {% endfor %}


    </div>
      </div>
       </div>

         <hr>

       <div class="container">
  <div class="row">
    <div class="col-sm">

           <h1> CNBC NEWS </h1>
      {% for cnbc in cnbcnews %}
         <ul>
       <li>
         <a href="{{ cnbc.link }}">
           {{ cnbc.title }}
         </a>
       </li>
       <ul class="date">
         Published {{ cnbc.published }} by {{ cnbc.media_house_name }}
       </ul>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



<h1> CNN </h1>



      {% for cnn in cnnnews %}
         <ul>
       <li>
         <a href="{{ cnn.link }}">
           {{ cnn.title }}
         </a>
       </li>
       <p class="date">
         Published {{ cnn.published }} by {{ cnn.media_house_name }}
       </p>
         </ul>
     {% endfor %}
    </div>
    <div class="col-sm">



    <h1> Fox News </h1>



      {% for fox in foxnews %}
         <ul>
       <ul>
         <a href="{{ fox.link }}">
           {{ fox.title }}
         </a>
       </ul>
       <ul class="date">
         Published {{ fox.published }} by {{ fox.media_house_name }}
       </ul>
         </ul>
     {% endfor %}


    </div>
      </div>
       </div>



   {% endblock %}